<div class='event-info'>
  <p>Meet up at <%= @route.start_location_address %> at <%= @route.start_time %>.</p>
  <p>We're running <%= @route.distance %> miles going at a <%= @route.pace %> minute mile pace.</p>
</div>
