<h1> Create A Run</h1>
<form method="post" action="/routes">
  <label for='route[start_location]'>Starting Location:</label>
  <input name='route[start_location]' type='text'>
  <p><label for='route[distance]'>Distance (in miles):</label>
  <input name='route[distance]' type='text'></p>
  <p><label for='route[date]'>Date:</label>
  <input name='route[date]' type='date'></p>
  <p><label for='route[start_time]'>Start Time:</label>
  <input name='route[start_time]' type='time'></p>
  <input type='hidden' name='route[creator_id]' value='<%= session[:user_id] %>'>
  <input type='submit' value='Create Run'>
</form>
