<h1> Create A Run</h1>
<form method="post" action="/routes">
  <p><label for='route[title]'>Title:</label>
  <input name='route[title]' type='text'></p>
  <p><label for='route[start_location_address]'>Starting Location:</label>
  <input name='route[start_location_address]' type='text'></p>
  <p><label for='route[start_location_city]'>Starting Location City:</label>
  <input name='route[start_location_city]' type='text'></p>
  <p><label for='route[start_location_state]'>Starting Location State:</label>
  <input name='route[start_location_state]' type='text'></p>
  <p><label for='route[distance]'>Distance (in miles):</label>
  <input name='route[distance]' type='text'></p>
  <p><label for='route[pace]'>Pace (minutes per mile):</label>
  <input name='route[pace]' type='text'></p>
  <p><label for='route[date]'>Date:</label>
  <input name='route[date]' type='date'></p>
  <p><label for='route[start_time]'>Start Time:</label>
  <input name='route[start_time]' type='time'></p>
  <input type='hidden' name='route[creator_id]' value='<%= session[:user_id] %>'>
  <input type='submit' value='Create Run'>
</form>
